<div class="container">
  <h1>Sign Up page</h1>

  <form action="createaccount" method="post">
  Username:<br>
  <input type="text" name="username">
  <br>
  Password:<br>
  <input type="password" name="pwd">
  <input type="submit" value="Sign UP">
  </form>



</div>