<div class="container">
  <h1>Welcome to Flashcards!</h1>
  <h2>Log In to Play!</h2>

   <form action="login" method="post">
  Username:<br>
  <input type="text" name="username">
  <br>
  Password:<br>
  <input type="password" name="pwd">
  <input type="submit" value="Login">
  </form>
  <br>



  <h3><a href="/createaccount">OR create your new account</a></h3>


</div>